.ctn{
    width: 80%;
    height: 70%;
    margin:2%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: small;
    align-items: center;
}
.title {
    font-size: x-large;
    font-weight: bold;
}
.ctn p {
    font-weight: bold;
    text-align: center;
}
.data{
    width: 60%;
    margin:1%;
    display: flex;
    border: 1px solid rgb(197, 197, 197);
    background-color: #db0303;
}
.features{
    display: flex;
    flex-direction: column;
    flex: 4 1 auto;

}
.features img{
    width: 98%;
    margin: 10px;
}
.dataImg{
    display: flex;
    margin:1%;
    padding: 2%;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
}
.danger{
    color: #db0303;
    font-weight: bold;
}
.success{
    width: 60%;
    background-color: green;
    color: white;
    font-weight: bold;
}
.error{
    width: 60%;
    background-color: #db0303;
    color: white;
    font-weight: bold;
}
.types{
    margin:1%;
    padding: 2%;
    border: 1px solid rgb(197, 197, 197);   
    flex: 1 1 auto;
    background-color: white;
}
.types input{
    margin:4%;
}
.dataGroup{
    display: flex;
    margin:1%;
    padding: 2%;
    flex-direction: column;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
}
.dataGroup input {
    width: 100%;
}
.dataGroup div label {
    width: 50%;
}
.btn{
    width: 60%;
    margin:1%;
    align-items: center;
    text-align: center;
} 
.btn input{
    width: 50%;
    margin: 5px;
    padding: 5px;
    border:2px solid white;
    border-radius: 5px;
    color:white;
    background-color: #1547b4;
}
.btn input:hover{
    border:2px solid #1547b4;
    color:#1547b4;
    background-color: white;
}

@media all and (max-width:800px){
    .data{
        flex-direction: column;
    }
    .btn input {
        width: 100%;
    }
}